# ignore VSCode related stuff
.vscode

# ignore Glade messing around a bit with the files
*.glade~
\#*.glade#

# ignore Sunrise Siren Studio builds
SunriseSirenStudio/build/*

# ignore compiled GSchemas
gschemas.compiled

# ignore gzipped manual entries
*.gz

# ignore the minified UI file, since `make` will generate it
UI.h
